*{
    padding: 0;
    background-color:aquamarine;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#box{
    width: 600px;
    min-height: 50px;
    border: 2px solid red;
    padding:  15px;
    margin: 20px 0;
    background-color: blanchedalmond;
}
#box2{
    width: 400px;
    min-height: 50px;
    border: 2px solid red;
    padding:  5px;
    margin: 20px 0;
    background-color: rgb(182, 131, 55);
}
button{
    padding: 10px 20px;
    margin: 10px;
    background: purple;
    color: white;
    font-weight: bold;
    font-size: 18px;
cursor: pointer;
border: 4px solid white;
}
p{
    padding: 10px 15px;
    font-size: 18px;
    color: rgb(84, 9, 154);
}

#test{
    background: rgb(244, 6, 6) !important;
    color: white;
}